services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      - REDIS_URL=${REDIS_URL}
      - COBALT_API_URL=${COBALT_API_URL}
      - COBALT_API_KEY=${COBALT_API_KEY}
      - SECRET_KEY=${SECRET_KEY}
      - PROXY_URL=${PROXY_URL}
      - SPOTIPY_CLIENT_ID=${SPOTIPY_CLIENT_ID}
      - SPOTIPY_CLIENT_SECRET=${SPOTIPY_CLIENT_SECRET}
      - ALLOWED_ORIGINS=${ALLOWED_ORIGINS}
    depends_on:
      - redis
    volumes:
      - ./backend:/app
      - ./cookies.txt:/app/cookies.txt

  frontend:
    build:
      context: ./frontend
      args:
        - VITE_API_URL=${VITE_API_URL}
    ports:
      - "3000:80"
    depends_on:
      - backend

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  redis_data:
